/*
 * @Description: 全局样式在这里设置
 */

// ? 举个例子，统一修改项目中 antd 的按钮的样式
// .ant-btn {
//   color: #ffffff;
//   border-radius: 4px;
//   background-color: @primary-color;
// }

html,
body {
  margin: 0;
  height: 100%;
  background-color: @bg-color;
  /*font-family: PingFangSC-Regular, sans-serif;*/
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  /*font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;*/
  /*font-family: "Microsoft YaHei";*/
  font-size: @font-size-base;
  font-weight: 400;
}

#root {
  height: 100%;

  // .ant-menu-submenu-title {
  //   &[aria-expanded='true'] {
  //     background-color: aqua;
  //   }
  // }

  .ant-pro-basicLayout-content {
    margin: 0;
  }
}
